{% extends "header.html" %}
{% block content %}
    <div class="content">
        <h1>Latest Blog Posts</h1>
        <hr>
        {% for post in object_list %}
            <div class="post">
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <p class="post-meta">Posted on {{ post.date|date:"F d, Y" }} by {{ post.signature }}</p>
                <p>{{ post.body }}</p>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}